<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Administracion de usuarios</title>
</head>
<body>
    <h1>Administracion de usuarios</h1>
    <h2>Agregar</h2>
    <br />
    <div class="row">
        <div class="col-md-9 bg-light text-right">

        </div>
        <div class="col-md-3 bg-light text-right">
            
        </div>
        <br />

        
    </div>


</body>
</html>